{% extends "base.html" %}

{% block head %}
	<!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
	<link rel="stylesheet" href="/static/jquery-ui.css">
	<script src="/static/jquery-1.12.4.js"></script>
	<script src="/static/jquery-ui.js"></script>
	<script>
		$(document).ready(
			function(){
				$.ajax({
					url: '{{ url_for("spellname_auto") }}'
					}).done(function (data) {
						$('#spell_autocomplete').autocomplete({
							source: data,
							minLength: 2
						});
					});
				});
	</script>
{% endblock %}

{% block content %}

<form action="" method="post" name="enterdata">
{{ form.hidden_tag() }}

	<table>
		<tr>
			<td class="medium" align="right">spell:</td>
			<td align="left">{{ form.spellname(size=16, class='medium') }}<br>
				{% for error in form.spellname.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</td>
			<td align="left"><input type="submit" value="OK" class="larger"></td>
		</tr>
	</table>
</form>

{% if spell%}
<hr>
<p class="medium">{{ spell.name }}</p></br>
<table>
	{% if spell.school %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">school</td>
	<td align="left">{{spell.school}}</td>
	</tr>{% endif %}
	{% if spell.level %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">level</td>
	<td align="left">{{spell.level}}</td>
	</tr>{% endif %}
	{% if spell.components %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">components</td>
	<td align="left">{{spell.components}}</td>
	</tr>{% endif %}
	{% if spell.castingtime %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">casting time</td>
	<td align="left">{{spell.castingtime}}</td>
	</tr>{% endif %}
	{% if spell.range %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">range</td>
	<td align="left">{{spell.range}}</td>
	</tr>{% endif %}
	{% if spell.areatarget %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">area/target</td>
	<td align="left">{{spell.areatarget}}</td>
	</tr>{% endif %}
	{% if spell.duration %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">duration</td>
	<td align="left">{{spell.duration}}</td>
	</tr>{% endif %}
	{% if spell.savingthrow %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">saving throw</td>
	<td align="left">{{spell.savingthrow}}</td>
	</tr>{% endif %}
	{% if spell.spellresistance %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">spell resistance</td>
	<td align="left">{{spell.spellresistance}}</td>
	</tr>{% endif %}
	<tr>
	<td align="right" style="padding-right:8px">description</td>
	<td align="left">{% autoescape false %}{{spell.description}}{% endautoescape %}</td>
	</tr>
	{% if spell.enhancement %}<tr style="white-space: nowrap;">
	<td align="right" style="padding-right:8px">enhancement</td>
	<td align="left">{{spell.enhancement}}</td>
	</tr>{% endif %}
</table>
{% endif %}
<br>

{% endblock %}